/*body {
    position: absolute;
    background-color: #067D3D;
    }   
    div {
        background-color:  #2BA05A;
        width: 600px;
        height: 430px;
        border: 25px solid #916146;
        padding: 50px;
        margin: 20px;
    }